


.g-wrap {
    margin: auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #000;


}
p {
    position: relative;
    width: 800px;
    font-size: 40px;
    color: transparent;
    margin: auto;
    line-height: 1.5;
    padding: 20px;
    background: linear-gradient(-4deg, transparent, transparent 25%, #ffb6ff, #b344ff,transparent 75%, transparent);
    -webkit-background-clip: text;
    background-size: 100% 400%;
    background-position: center 0;
    animation: textScroll 6s infinite linear alternate;
}

@keyframes textScroll {
    100% {
        background-position: center 100%;
    }
}


body, html {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.g-wrap2 {
    margin: auto;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #000;

    .text {
        position: relative;
        width: 800px;
        font-size: 40px;
        margin: auto;
        line-height: 1.5;
        padding: 20px;
        color: transparent;
        color: #fff;
        background: #000;
        overflow: hidden;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 400%;
        background: linear-gradient(-3deg, #000, #000 25%, #ffb6ff 30%, #ffb6ff, #b344ff, #b344ff 70%, #000 75%, #000);
        z-index: 1;
        mix-blend-mode: darken;
        animation: textScroll 5s infinite linear alternate;
    }
}

@keyframes textScroll {
    100% {
        transform: translate(0, -75%);
    }
}




